<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Libro Diario</title>
    <link rel="stylesheet" th:href="@{/css/inicio.css}">

</head>

<body>

<nav class="navbar">
    <div class="logo">Sistema Contable</div>
    <ul class="nav-links">
        <li><a th:href="@{/inicio}">Inicio</a></li>
        <li><a th:href="@{/admin/usuarios}">Usuarios</a></li>
        <li><a th:href="@{/libro-diario}">Libro Diario</a></li>
        <li><a th:href="@{/libro-mayor}">Libro Mayor</a></li>
        <li><a th:href="@{/logout}">Cerrar sesión</a></li>
    </ul>
</nav>

<main>
    <h1>Libro Diario</h1>

    <div th:if="${exito}" class="alert alert-success" th:text="${exito}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <table>
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Código Cuenta</th>
            <th>Cuenta</th>
            <th>Debe</th>
            <th>Haber</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="asiento : ${asientos}">
            <td th:text="${asiento.fecha}"></td>
            <td th:text="${asiento.descripcion}"></td>
            <td th:text="${#lists.join(asiento.detalles.stream().map(d->d.cuenta.codigo).toList(), ',')}"></td>
            <td th:text="${#lists.join(asiento.detalles.stream().map(d->d.cuenta.nombre).toList(), ',')}"></td>
            <td th:text="${#numbers.formatDecimal(asiento.detalles.stream().mapToDouble(d->d.debe).sum(), 1, 2)}"></td>
            <td th:text="${#numbers.formatDecimal(asiento.detalles.stream().mapToDouble(d->d.haber).sum(), 1, 2)}"></td>
        </tr>
        </tbody>
    </table>

    <div style="text-align:center;">
        <a th:href="@{/libro-diario/nuevo}" class="btn"> Nuevo Asiento</a>
    </div>
</main>

<footer>
    &copy; 2025 Sistema Contable | Todos los derechos reservados
</footer>
</body>
</html>
